<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
  </div>

  <div class="field form-control-wrapper">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", data: { hint: "(#{@minimum_password_length} characters minimum)"} %>
    <div class="hint">(<%= @minimum_password_length %> characters minimum)</div>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
    <span>Trello authentication will happen right after the registration.</span>
  </div>
<% end %>

<%= render "devise/shared/links" %>
