<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @comment.id %>
</p>

<p>
  <strong>Is read:</strong>
  <%= @comment.is_read %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
