<div class="avatar-container">
  <% if member['avatarHash'] != nil %>
    <%= image_tag @t.get_avatar_url member['username'], :size => :small %><br />
  <% else %>
    <span><%= member['initials'] %></span><br />
  <% end %>
</div>
