<%= form_tag("/add_comment", method: "POST", id: 'add_comment_form') do %>
  <%= label_tag :reply do %>
	  <%= render 'avatar', :member => me_trello %>
  <% end %>
  <%= hidden_field_tag :card_id, card_id %>
  <%= text_field_tag :reply, template_reply %>
  <%= button_tag '', type: 'submit', name: 'commit', value: 'Reply', class: 'btn btn-flat btn-default send-btn mdi-content-send' %>
<% end %>
