<% content_for :navbar do %>
<div class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><%= render 'avatar', :member => @me_trello %> <%= @me_trello['fullName'] || @me_trello['username'] %></a>
		  
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-responsive-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Switch Trello', trello_oauth_path %></li>
				<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</div>
<% end %>
<% content_for :navbar do %>
  <%= javascript_include_tag 'comments', 'type' => 'text/jsx', 'data-turbolinks-track' => true %>
<% end %>

<div id="comment-container" class="col-xs-13 col-md-10 col-md-offset-1"></div>
<script type="text/jsx">
  React.render(
    <CommentList url="<%= get_comments_path %>" pollInterval={1200000} token="<%= form_authenticity_token %>" />,
    document.getElementById('comment-container')
  );
</script>
