
<h2>Raised buttons</h2>
<button id="hehe" class="btn btn-default isread-btn"><i class="mdi-action-done"><span>&nbsp;</span></i></button>
<button id="hehe" class="btn btn-default isread-btn"><i class="mdi-action-done"><span>&nbsp;</span></i></button>
<br />
<a id="hehe" class="isread-btn btn btn-flat btn-default mdi-action-done"></a>
<a id="hehe" class="btn btn-flat btn-default mdi-content-send isread-btn"></a>
<br />
<button class="btn btn-default btn-raised">Colored</button>
<button class="btn btn-primary btn-raised">Colored</button>
<button class="btn btn-default btn-raised" disabled="">Disabled</button>
<button class="btn btn-default btn-raised btn-link">Noink</button>
