#new_user {
  .actions span {
    color: #888;
    display: block;
    margin-top: 5px;
    font-style: italic;
  }

  input.form-control {
    margin: 15px 0px;
  }

  .hint {
    bottom: -18px;
  }
}
