body {
  background-color: #eee;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

//a {
//  color: #000;
//  &:visited {
//    color: #666;
//  }
//  &:hover {
//    color: #fff;
//    background-color: #000;
//  }
//}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.notice, .alert  {
  font-size: 14px;
  color: white;
  margin-bottom: 0;
}

.notice {
  background-color: #009688;
  padding: 15px;
}

.alert {
  background-color: #f44336;
}

#notice {
  color: green;
}

.field_with_errors {
  input {
    background-image: linear-gradient(#f44336,#f44336),linear-gradient(#f44336,#f44336);
  }
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    margin-top: 10px;
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}
