// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.glyphicon-refresh-animate {
  -animation: spin 1.5s infinite linear;
  -webkit-animation: spin2 1.5s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(360deg);}
  to { -webkit-transform: rotate(0deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(360deg);}
  to { transform: scale(1) rotate(0deg);}
}

.navbar-brand {
  top: -2px;
  position: relative;

  &>img {
    display: inline;
  }
}

#add_comment_form {
  margin-top: 14px;

  label {
    display: inline-block;
  }
  input[type="text"] {
    width: calc(100% - 84px);
    margin-left: 10px;
    margin-right: 4px;
  }
  textarea {
    margin: 0px 10px 0px 0px;
    width: calc(100% - 40px);
    height: 25px;
    resize: vertical;
  }
  input[type="submit"] {
    background-color: #4285f4;
    padding: 5px 10px;
    border: 0px;
    box-shadow: 0px 2px 4px #888;
    margin-left: 10px;
    color: #fff;

    &:hover {
      box-shadow: 0px 3px 8px #888;
      background-color: #316BCB;
    }
    &:active {
      box-shadow: 0px 3px 8px #888;
      background-color: #254F93;
    }
  }
}

@media (max-width: 768px) {
  .col-xs-13 {
    padding-left: inherit;
    padding-right: inherit;
  }
}

.comment-list {
  .loading {
    font-size: 20px;
    position: relative;
    left:  50%;
  }
}

.comment-card {
  background-color: #fff;
  box-shadow: 0px 0px 2px #888;
  padding: 10px;
  margin-bottom: 10px;

  .card-right {
    position: relative;
    padding-left: 41px;
  }
  .card-left {
    float: left;
    position: relative;
    top: 8px;
  }
  span, div {
    word-wrap: break-word;
  }


  div.comment-content {
    margin-top: 10px;
    line-height: 24px;

    ul, ol {
      padding-left: 18px;
      line-height: 10px;
    }
    span.username-highlight-self {
      padding: 1px 4px;
      background-color: #bcd9ea;
    }
    span.username-highlight-others {
      padding: 1px 4px;
      background-color: #ddd;
    }
  }

  span.time {
    color: #888;
  }

  .replied-btn, 
  .isread-btn {
  }

  .btn.btn-default.send-btn {
    position: absolute;
  	padding: 6px 6px 7px 7px;
    margin: 0px;
    width: 30px;
    height: 30px;
  	font-size: 18px;
  	border-radius: 27px;
  	line-height: 14px;
  	color: #ccc;
  
    &:hover {
  	  background-color: #4285f4;
  	  color: white;
    }
  }
  
  .btn.btn-default.isreplied-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px 30px 0px 0px;
    padding: 5px;
  	font-size: 18px;
  	line-height: 14px;
  	color: #ccc;

    &.isreplied {
      color: blue;
    }
    &:hover {
  	  color: black;
  	  background-color: transparent;
    }
  }

  .btn.btn-default.isread-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    padding: 5px;
  	font-size: 18px;
  	line-height: 14px;
  	color: #ccc;
  
    &:active {
  	  color: black;
  	  background-color: #ddd;
    }
    &.isread {
      color: green;
    }
    &:hover {
  	  color: black;
  	  background-color: transparent;
    }
  }
}

.avatar-container {
  display: inline-block;

  span {
    padding: 7px 4px;
    background-color: #eee;
    font-size: 14px;
    color: #777;
  }
}

