<%= form_for(@trello_auth) do |f| %>
  <% if @trello_auth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trello_auth.errors.count, "error") %> prohibited this trello from being saved:</h2>

      <ul>
      <% @trello_auth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :session_id %><br>
    <%= f.text_field :session_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :trello_id %><br>
    <%= f.text_field :trello_id %>
  </div>
  <div class="field">
    <%= f.label :access_token %><br>
    <%= f.text_field :access_token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
