<p id="notice"><%= notice %></p>

<h1>Listing TrelloAuths</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Session</th>
      <th>User</th>
      <th>Trello</th>
      <th>Access token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trello_auths.each do |trello_auth| %>
      <tr>
        <td><%= trello_auth.id %></td>
        <td><%= trello_auth.session_id %></td>
        <td><%= trello_auth.user_id %></td>
        <td><%= trello_auth.trello_id %></td>
        <td><%= trello_auth.access_token %></td>
        <td><%= link_to 'Show', trello_auth %></td>
        <td><%= link_to 'Edit', edit_trello_auth_path(trello_auth) %></td>
        <td><%= link_to 'Destroy', trello_auth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trello', new_trello_auth_path %>
