<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @trello_auth.session_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @trello_auth.user_id %>
</p>

<p>
  <strong>Trello:</strong>
  <%= @trello_auth.trello_id %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @trello_auth.access_token %>
</p>

<%= link_to 'Edit', edit_trello_auth_path(@trello_auth) %> |
<%= link_to 'Back', trello_auths_path %>
