<!DOCTYPE html>
<html>
<head>
  <% if @trello_username %>
    <title>Trellome - <%= @trello_username %></title>
  <% else %>
    <title>Trellome</title>
  <% end %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'http://fb.me/react-0.12.2.js' %>
  <%= javascript_include_tag 'http://fb.me/JSXTransformer-0.12.2.js' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-1.11.2.min.js' %>
  <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield :navbar %>

<%= yield %>

</body>
</html>
